@model IEnumerable<WebMedicine.Models.Doctorvisit>

@{
    ViewData["Title"] = "Записи к врачу";
}

<h1> Записи на приём к врачу </h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> Записаться к врачу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата приема
            </th>
            <th>
                Симптомы
            </th>
            <th>
                Лечащий врач
            </th>
            <th>
                Заключение врача
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymptomsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Person.GetFullName())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conclusion)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить запись</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"> Отменить запись </a>
            </td>
        </tr>
}
    </tbody>
</table>
