@model IEnumerable<WebMedicine.Models.Medicationcatalog>

@{
    ViewData["Title"] = "Index";
}

<h1>Каталог</h1>


@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create"> Добавить лекарство </a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Название лекарства
            </th>
            <th>
                Доза
            </th>
            <th>
                Производитель
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
